<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<div class="alert alert-info">
  <h4>Product Count: <%= @product_count %></h4>
</div>
<div class="alert alert-warning">
  <h4>Category Count: <%= @category_list.count %></h4>
</div>

<div class="well">
  <%= link_to "Product list", admin_products_path, class: "btn btn-primary" %>
  <%= link_to 'Category List', [:admin, :categories], class: 'btn btn-primary' %>
</div>


