<header class="page-header">
  <h1>About Us</h1>
</header>

<div class="body"> 
  <div class="alert alert-success">
    <h2>Our store</h2>
    <p>our store is a small e-commerce website with a collection of over 400 interesting products</p>
  </div>
  <div class="alert alert-warning">
    <h2>Our policy</h2>
    <p>Products are not refundable if it over 1000$ thank you for your comprehension</p>
  </div>
  <div class="alert alert-info">
    <h2>Our Moto</h2>
    <p>Shop until you drop...duh</p>
  </div>
<div>

<div class="well">
  <%= link_to "Back", products_path, class: "btn btn-primary"%>
<div> 